body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #d3cdcd;
    font-family: 'inter', sans-serif;
}

div {
    text-align: center;
}

.hidden {
    display: none;
}

#txt-cc-number {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div > div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container {
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.info-container {
    display: none;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 145px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'inter', sans-serif;
}

button:hover {
    background-color: #0056b3;
}
.info-container {
    display: none;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#credit-card {
    width: 350px;
    height: 200px;
    background: linear-gradient(135deg, #9a9898, #cec5c5);
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1000ms ease, box-shadow 1000ms ease;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#credit-card:hover{
    transform: scale(1.15) rotateY(180deg);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

#credit-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #9a9898, #cec5c5);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.stripe {
    background-color: #2a1d16;
    height: 22%;
    left: 0;
    position: absolute;
    top: 9%;
    width: 100%;
}

.cvc {
    font-family: Consolas, Courier, monospace;
    font-size: 11.9px;
    color: black;
    opacity: 1;
    position: absolute;
    z-index: 2;
    right: 23%;
    top: 38%;
}

.signature {
    background: repeating-linear-gradient(.1deg, #fff 20%, #fff 40%, #fea 40%, #fea 44%, #fff 44%);
    height: 18%;
    left: 5%;
    position: absolute;
    top: 35%;
    z-index: 1;
    width: 75%;
}

.card-brand-bottom {
    position: absolute;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
}

.inputBox {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    font-family: 'inter', sans-serif;
}

.inputBox:nth-child(2n) {
    justify-content: end;
}

.inputBox label {
    width: 95%;
    color: black;
    font-weight: bold;
    margin: 5px 0;
}

.inputBox input,
select {
    height: 40px;
    width: 90%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    font-family: 'inter', sans-serif;
}

.inputBox input:is(:focus),
.inputBox select:is(:hover) {
    background-color: #0056b3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.inputBox select {
    width: 100%;
}

#chip {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 20px;
}

#bank-brand, #card-brand {
    position: absolute;
    top: 15px;
    height: 30px;
}

#card-brand {
    right: 20px;
}

#bank-brand {
    right: calc(20px + 20%);
    margin-right: 10px;
}

#card-number {
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'OCR A Std', monospace;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.card-details {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding: -40px 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'OCR A Std', monospace;
}